<a href="https://colab.research.google.com/github/SJGE100720/Intro_Phyton_Conline/blob/main/D%C3%ADa_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Día 2
Día 2: Tema_3

In [5]:
#Variables
#Números enteros (+/-)
numero = 17
#Número flotante
decimal = 0.7
#Cadenas o texto (string)
texto = "Texto" #Comillas o una comilla funcionan
#Booleanos (sólo puede ser verdadero o falso)
booleanos = True

print(numero)
print(type(numero))
print(decimal)
print(type(decimal))
print(texto)
print(type(texto))
print(booleanos)
print(type(booleanos))

17
<class 'int'>
0.7
<class 'float'>
Texto
<class 'str'>
True
<class 'bool'>

In [7]:
#Se pueden definir variables usando símbolos o caractéres como acentos,alfabeto cirílico, etc.
#No se puede agregar números al principio del nombre, ni se puede poner espacios en los nombres
#No se puede usar el guión corto

tupla = ("hola", 2) #Texto, números. Es inmutable, no se pueden modificar sus valores una vez establecidos
lista = [6,7,3,1,6] #Listas dentro de listas
set_ = {1,2,3,5,1,1} #Números repetidos no se imprimen, no hay orden
diccionario = {2:2, 1:5} #Llave y después de los dos puntos es su valor correspondiente

print(tupla)
print(type(tupla))
print(lista)
print(type(lista))
print(set_)
print(type(set_))
print(diccionario)
print(type(diccionario))

('hola', 2)
<class 'tuple'>
[6, 7, 3, 1, 6]
<class 'list'>
{1, 2, 3, 5}
<class 'set'>
{2: 2, 1: 5}
<class 'dict'>

Día 2: Tema_4

In [9]:
#Conversión de datos
a = 3
b = "12"
c = a * b
print(c) #La variable b se repite 3 veces.

121212

In [18]:
r = "12"
print(type(r))
#Cambiar el tipo de variable. Forma #1:
s = int(r) #aquí tenemos dos variables diferentes
print(type(s))
#Forma #2:
r1 = "12"
print(type(r1))
r1 = int(r1) #aquí se redefine el tipo de variables
print(type(r1))

print("\nHagamos operaciones:")
s1 = r1 + 2 #Usando el método 2
print(s1)

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

Hagamos operaciones:
14

In [23]:
#Otra conversión de variables
print("1. Conv")
r = 12
print(type(r))
r = str(r)
print(type(r))
s = "Numero: " + r
print(s)

#Otra conversión de variables x2
print("2. Conv")
a = "12.7"
print(type(a))
a = float(a)
print(type(a))
p = a + 2
print(p)

#Otra conversión de variables x3
print("3. Conv")
b = 12.7
print(type(b))
b = str(b)
print(type(b))
t = "Número: " + b
print(t)

1. Conv
<class 'int'>
<class 'str'>
Numero: 12
2. Conv
<class 'str'>
<class 'float'>
14.7
3. Conv
<class 'float'>
<class 'str'>
Número: 12.7

In [33]:
#Ejemplo de aplicación
Edad = input("Introduce tu edad: ")
print(type(Edad))
#num = "4"
#num = float(num)
#print(type(num))
#print(num)
Edad1 = float(input("Introduce tu edad: "))
print(type(Edad1))

Edad_nueva = Edad1*2-2
print(Edad_nueva)

Introduce tu edad: 20
<class 'str'>
Introduce tu edad: 20
<class 'float'>
38.0